:root{

    --maincolor : #eaeaea;
    --secondarycolor : #fff;

    --bordercolor : #c1c1c1;

    --maintext:black;
    --secondarytext : #4b5156;

    --themeDotBorder : #24292e ;
    --previewBg : rgb(251, 249, 243, 0.8);

    --preview-shadow: #f0ead6;
    --btncolor:black;
}

html , body{
    padding: 0;
    margin: 0;
}


body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--maintext);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

p, li, span, input, textarea{
    color: var(--secondarytext);
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
}

.teks{
    color: var(--secondarytext);
}

a{
    text-decoration: none ;
    color: #17a2b8;

}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}
  
.s1{
    background-color: var(--maincolor);
    border-bottom: 1px solid var(--bordercolor);
    overflow: auto ;
}

.s2{
    background-color: var(--secondarycolor);
    border-bottom: var(--bordercolor);
    overflow: auto;
}

.main-container{
    width: 1000px;
    margin : 0 auto;
   
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 0em;
    
}

.intro-wrapper{
    background-color: var(--secondarycolor);
    border : 1px solid var(--bordercolor) ;
    border-radius:  20px 20px 20px 20px;

    border-radius: 42px;
    background: #e0e0e0;
    box-shadow:  17px 17px 43px #afafaf,
                 -17px -17px 43px #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
    margin-bottom: 100px;

}

.nav-wrapper{
    border-radius: 5px 5px 0 0 ;
    grid-area:nav-wrapper;
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
}

#in-nav{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#navigation{
    margin : 0 ;
    padding: 10px;

}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


.dots-wrapper{
    display: flex;
    padding: 5px;
    
}

#dots_nav{
    height: 22px;
}

.browser-dots{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin: 3px;

    box-shadow  : 17px 14px 30px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow : 17px 14px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow : 17px 14px 30px -6px rgba(0,0,0,0.75);
}

#dot-1{
    background-color: #FC6058;
}
#dot-2{
    background-color: #FEC02f;
}
#dot-3{
    background-color: #2ACA3E;
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.column-middle {
    float: left;
    width: 500px;
  }


#profile_pic{
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--bordercolor);
    border-radius: 50%;

}

#theme-option-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder); 

    box-shadow  : 17px 14px 30px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow : 17px 14px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow : 17px 14px 30px -6px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}
#blue-mode {
    background-color: #192734;
}
#green-mode {
    background-color: #78866b;
}
#purple-mode {
    background-color: #7e4c7b;
}

#setting-note{
    font-size: 12px;
    font-style:italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--preview-shadow) ;
    width: 280px;
    height: 180px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;

}

#corner-tl{
    top:-5px;
    left: -5px;
}
#corner-tr{
    top:-5px;
    right: -5px;
}
#corner-br{
    bottom:-5px;
    right: -5px;
}
#corner-bl{
    bottom:-5px;
    left: -5px;
}

.lagu{
    margin: auto;
    height: 40px;
    border-radius: 1px;
}


/*--------------Tentang Saya-----------------*/
.about-wrapper{
    display: grid;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;

}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--preview-shadow);
    border-radius: 20px;
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;

}

.link-media{
    font-family: 'Roboto Mono', monospace;
}

#social_img{
    display: flex;
    width: 50%;
    border-radius: 3ch;
    padding-top: 10px;
    margin-left: 20px;
}

.gambar-media{
    display: flex;
}
/*-------table--------*/
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;

}

#customers tr{background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color:#ffffff;
  }

/*------------Parallax-------------*/

.parallax{
    /* The image used */
    background-image: url("images/daun.jpg");
    filter: brightness(50%);
    filter: contrast(30%);
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Portfolio */
  .post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px) ;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--bordercolor);
    box-shadow  : 17px 14px 30px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow : 17px 14px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow : 17px 14px 30px -6px rgba(0,0,0,0.75);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.post-preview{
    background-color: #fff;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.post-title{
    color: black;
    margin: 0;
}

.post-intro{
    color: #4b5156;
    font-size: 16px;
}

/*----------Hubungi saya---------*/

#contact-form{
    display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--bordercolor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--maincolor);
	margin-bottom: 50px;

    
}

#contact-form label{
    min-height: 100px;
    font-size: 14px;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondarycolor);
	border-radius: 5px;
	border:1px solid var(--bordercolor);
	font-size: 14px;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--btncolor);
    border: none;
}


  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  @media screen and (max-width: 1000px) {
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .intro-wrapper{
    
    grid-template-columns: 1fr;
    grid-template-areas: 
        'nav-wrapper'
        'left-column'
        'right-column'
    ; 
    }

    .right-column{
        justify-content : center;
    }
}